<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    charset="UTF-8"
    processIsolation="false">

    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./Cmfcmf/</directory>
            <exclude>
                <directory suffix=".php">./Examples/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
