name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        fetch-depth: 0 # fetch complete history so that the "last updated by" texts can be set correctly
    - name: Use Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: Build Docs
      run: |
        cd docs
        yarn install
        yarn build
        touch build/.nojekyll
    - name: Upload to GitHub Pages
      if: github.ref == 'refs/heads/master'
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        GITHUB_TOKEN : ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: docs/build
        CLEAN: true
        SINGLE_COMMIT: true
        GIT_CONFIG_NAME: GitHub Actions
        GIT_CONFIG_EMAIL: gh-actions@example.com